@font-face {
    font-family: "Comfortaa";
    src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: "Comfortaa";
    font-weight: bold;
    src: url('../fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: "CoolCrayon";
    src: url('../fonts/Cool-Crayon.ttf');
}


body, html {
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
    font-family:'Arial', sans-serif;
}

body {
    background-color:#DFDFDF;
    overflow:hidden;
}

#tlearnframe {
    height:100%;
}

#tlearnframe-main {
    position:absolute;
    width:100%;
    top:0;
    bottom:0;
}

#tlearnframe-left {
    width:393px;
    float:left;
    height:100%;
    margin-right:7px;
    position:relative;
}

#tlearnframe-steps {
    float:left;
    height:100%;
    width:40px;
    padding-top:20px;
    box-sizing:border-box;
}

.tlearnframe-step {
    display:block;
    width:16px;
    height:17px;
    margin-left:auto;
    margin-right:auto;
    background-image:url(../images/step_grey.png);
    margin-bottom:15px;
}

.tlearnframe-step-ok {
    background-image:url(../images/step_white.png);    
}

.tlearnframe-step-current {
    background-image:url(../images/step_orange.png);
}

.split-pane-divider {
    background: #ebebeb url("../images/handle.png") no-repeat scroll 50% 1px;
    height: 5px;
}

#tlearnframe-instruction {
    background-color:#5e5e5e;
    padding:10px;
    color:#FFFFFF;
    height:100%;
    box-sizing:border-box;
    position:relative;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:30px;
}

#tlearnframe-instructions h1 {
    font-family:Comfortaa,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    /*color:#f6a71f;*/
}

#tlearnframe-instruction .code {
    color:#F6A71F;
}

#tlearnframe-instruction .reponse {
    color: green;
}

#tlearnframe-solution {
    display:none;
}


#tlearnframe-navigation {
    position:absolute;
    width:100%;
    height:40px;
    bottom:0;
    left:0;
}

#tlearnframe-right {
    margin-left: 400px;
    height:100%;
    position:relative;
    width:auto;
}

#tlearnframe-canvas {
    position:absolute;
    top:0;
    bottom:240px;
    width:100%;
    z-index:1;
    overflow:hidden;
}

#tcanvas_container {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
}

#tcanvas-outer {
    height:100%;
    background-color:#ffffff;
}

#tcanvas {
    position:relative;
    overflow:hidden;
}

#tcanvas3d {
    background-color:transparent;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0px;
    left:0px;
}

.runtime-frame {
    display:none;
}

#tcanvas-loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(../images/loader4.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
}

#tcanvas-loading-value {
    position:absolute;
    top:60%;
    width:100%;
    height:50px;
    text-align:center;
    color:#A7A7A7;
}

#tlearnframe-message {
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    min-height:50px;
    padding:10px;
    display:none;
    box-sizing:border-box;
    z-index:2;    
}

#tlearnframe-message.tlearnframe-error {
    background-color:#ef6e13;
    color:#ffffff;
}

#tlearnframe-message.tlearnframe-message {
    background-color:#6dbea9;/*#58422a;*/
    color:#ffffff;
}

#tlearnframe-message-close {
    display:block;
    float:right;
    width:18px;
    height:18px;
    margin-right:5px;
    margin-top:2px;
    background-image:url(../images/clear_grey.png);
    cursor:pointer;
}

#tlearnframe-separator {
    bottom:240px;
}

#tlearnframe-bottom {
    height:240px;
    width:100%;
    position:absolute;
    bottom:0;
    z-index:1;
    overflow:hidden;
}

#tlearnframe-buttons {
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
}

#tlearneditor {
    position:absolute;
    top:40px;
    bottom:0;
    width:100%;
}

#tlearneditor-text {
    height:100%;
}

#tlearneditor-text .ace_content {
}

.ttoolbar-button
{
   font-size:11pt;
    min-width:100px;
    margin-left:10px;
    margin-right:10px;
    margin-top:5px;
    margin-bottom:5px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:8px;
    padding-right:8px;
    color:#5E5E5E;
    cursor:pointer;
    border:none;
    background-color:transparent;
    font-family:Comfortaa, "Helvetica Neue",Helvetica,Arial,sans-serif;
 
}

.ttoolbar-button-image {
    margin-right:8px;
    vertical-align:text-bottom;
    height:16px;
    opacity:0.6;
}


.ttoolbar-button:hover .ttoolbar-button-image{
    opacity:1;
}
.ttoolbar-button-execute {
}

.ttoolbar-button-previous,
.ttoolbar-button-next{
    color:#FFFFFF;
    font-family:Comfortaa, "Helvetica Neue",Helvetica,Arial,sans-serif;
    display:block;
}

.ttoolbar-button-previous {
    float:left;
    display:none;
}

.ttoolbar-button-next {
    float:right;
    display:none;
}


.ttoolbar-button-execute .ttoolbar-button-image,
.ttoolbar-button-previous .ttoolbar-button-image,
.ttoolbar-button-next .ttoolbar-button-image {
    opacity:1;
}

.ttoolbar-button-next > .ttoolbar-button-image,
.ttoolbar-button-previous > .ttoolbar-button-image {
    margin-left:8px;
}

.ttoolbar-button-execute {
}

.ttoolbar-button-execute:hover,
.ttoolbar-button-clear:hover,
.ttoolbar-button-check:hover,
.ttoolbar-button-erase:hover {
    color:#F6A71F;
}

.ttoolbar-button-execute:active,
.ttoolbar-button-clear:active {
    color:#E47637;
}

.ttoolbar-button-clear {
}

#tlearnframe-loading {
    position:absolute;
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#tlearnframe-credits {
    position:absolute;
    width:100%;
    bottom:0;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#5e5e5e;
    font-size:10px;
}

#tlearnframe-credits a {
    color:#5e5e5e;
    text-decoration:none;
}

#tlearnframe-credits a:hover {
    color:#E47637;
}

#tlearnframe-solution {
    position:absolute;
    background-color:black;
    visibility:hidden;
    width:100%;
    top:0;
    bottom:0;
    z-index:3;
    color:#ffffff;
}

#tlearnframe-solution-content {
    padding:20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#f6a71f;
}


#tlearnframe-solution-content code {
    color:#f6a71f;
}

#tlearnframe-solution-content h1 {
    color:#f6a71f;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

#tlearnframe-text {
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color:#DFDFDF;
    z-index:3;
    text-align:center;
}

#tlearnframe-text-input-frame {
    position:relative;
    width:80%;
    height:50%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

#tlearnframe-text-input {
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    font-size:20px;
    width:100%;
    height:100%;
    box-sizing:border-box;
}

#tlearnframe-text-message {
    position:absolute;
    bottom:0;
    width:100%;
    min-height:50px;
    padding:10px;
    display:none;
    box-sizing:border-box;
    z-index:3;    
}

#tlearnframe-text-message.tlearnframe-error {
    background-color:#ef6e13;
    color:#ffffff;
}

#tlearnframe-text-message.tlearnframe-message {
    background-color:#6dbea9;/*#58422a;*/
    color:#ffffff;
}

#tlearnframe-text-message-close {
    display:block;
    float:right;
    width:18px;
    height:18px;
    margin-right:5px;
    margin-top:2px;
    background-image:url(../images/clear_grey.png);
    cursor:pointer;    
}

#tlearnframe-loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    z-index:100;
}

#tlearnframe-loading img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

