@font-face {
    font-family: "DejaVu";
    src: url('../fonts/DejaVuSans.ttf');
}

@font-face {
    font-family: "DejaVu";
    font-weight: bold;
    src: url('../fonts/DejaVuSans-Bold.ttf');
}

body, html {
    height:100%;
    min-height:100%;
    margin:0;
    font-family:'Arial', sans-serif;
}

body {
    background-color:#FFFFFF;
    overflow:hidden;
}

#tlearnframe {
    height:100%;
}

#tlearnframe-main {
    position:absolute;
    width:100%;
    top:0;
    bottom:0;
}

#tlearnframe-left {
    box-sizing:border-box;
    padding:10px;
    width:50%;
    float:left;
    height:100%;
    margin-right:7px;
    position:relative;
}

#left-wrapper {
    position:relative;
    height:100%;
}

.split-pane-divider {
    background: #ffffff url("../images/handle.png") no-repeat scroll 50% 1px;
    height: 10px;
}

#tlearnframe-instruction {
    background-color:#EDEBED;
    color:#480A2A;
    bottom:65%;
    box-sizing:border-box;
    position:absolute;
    top:0px;
    width:100%;
    font-family: "DejaVu",Helvetica,Arial,sans-serif;
    font-size:16px;
    line-height:30px;
    padding-bottom:10px;
}

#tlearnframe-instruction.text-mode {
    z-index:3;
    bottom:0;
}

#tlearnframe-instruction-scroller {
    height:100%;
    overflow-y: auto;
    box-sizing:border-box;
    padding:15px 30px;
}

#tlearnframe-instructions h1 {
    font-family:"DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    margin-top:0px;
    text-transform:uppercase;
    /*color:#f6a71f;*/
}

#tlearnframe-instructions p {
    margin: 5px 0;
}

#tlearnframe-instruction .code,
#tlearnframe-instruction code {
    font-family:"DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#E42C20;
}

#tlearnframe-instruction .reponse {
    color: green;
}

#tlearnframe-solution {
    display:none;
}


#tlearnframe-navigation {
    position:absolute;
    width:100%;
    height:40px;
    bottom:0;
    left:0;
}

#tlearnframe-right {
    box-sizing:border-box;
    padding:10px 10px 10px 5px;
    margin-left:50%;
    height:100%;
    position:relative;
    width:auto;
}

#right-wrapper {
    position:relative;
    height:100%;
}


#tlearnframe-canvas {
    position:absolute;
    height:65%;
    width:100%;
    bottom:0;
    z-index:1;
    overflow:hidden;
}

#tcanvas_container {
    width:100%;
    height:100%;
    position:relative;
    overflow:hidden;
    box-sizing:border-box;
}

#tcanvas-outer {
    height:100%;
    box-sizing: border-box;
    border:solid 1px #DCDCDE;
    background-color:#ffffff;
}

#tcanvas {
    position:relative;
    overflow:hidden;
}

#tcanvas3d {
    background-color:transparent;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0px;
    left:0px;
}

.runtime-frame {
    display:none;
}

#tcanvas-loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-image:url(../images/loader4.gif);
    background-repeat:no-repeat;
    background-position:50% 50%;
}

#tcanvas-loading-value {
    position:absolute;
    top:60%;
    width:100%;
    height:50px;
    text-align:center;
    color:#A7A7A7;
}

#tlearnframe-message {
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
    min-height:50px;
    padding:10px;
    display:none;
    box-sizing:border-box;
    z-index:2;
}

#tlearnframe-message.tlearnframe-error {
    background-color:#ef6e13;
    color:#ffffff;
}

#tlearnframe-message.tlearnframe-message {
    background-color:#6dbea9;/*#58422a;*/
    color:#ffffff;
}

#tlearnframe-message-close {
    display:block;
    float:right;
    width:18px;
    height:18px;
    margin-right:5px;
    margin-top:2px;
    background-image:url(../images/clear_grey.png);
    cursor:pointer;
}

#tlearnframe-separator {
    bottom:65%;
}

#tlearnframe-bottom {
    height:55px;
    width:100%;
    position:absolute;
    bottom:0;
    z-index:1;
    overflow:hidden;
    background-color:#DDD6DD;
}

#tlearnframe-buttons {
    height:35px;
    vertical-align:middle;
    text-align:center;
    margin-top:10px;
}

#tlearnframe-text-buttons {
    height:35px;
    text-align:center;
    margin-top:15px;
}

#tlearneditor {
    position:absolute;
    top:0;
    bottom:55px;
    width:100%;
}

#tlearneditor-text {
    height:100%;
}

#tlearneditor-text .ace_content {
}

.ttoolbar-button
{
   font-size:11pt;
    margin-left:50px;
    margin-right:50px;
    color:#5E5E5E;
    cursor:pointer;
    border:none;
    background-color:transparent;
    font-family:Comfortaa, "Helvetica Neue",Helvetica,Arial,sans-serif;
}


.ttoolbar-button-execute {
}


.ttoolbar-button-execute {
    height:35px;
    width:35px;
    background-image:url('../images/run.png');
}

.ttoolbar-button-execute:hover {
    background-image:url('../images/run_on.png');

}
.ttoolbar-button-check {
    height:35px;
    width:35px;
    background-image:url('../images/check.png');
}

.ttoolbar-button-check:hover {
    background-image:url('../images/check_on.png');

}

.ttoolbar-button-clear,
.ttoolbar-button-erase {
    height:35px;
    width:35px;
    background-image:url('../images/reset.png');
}

.ttoolbar-button-clear:hover,
.ttoolbar-button-erase:hover{
    background-image:url('../images/reset_on.png');
}


.ttoolbar-button-clear:hover,
.ttoolbar-button-check:hover,
.ttoolbar-button-erase:hover {
    color:#F6A71F;
}

.ttoolbar-button-execute:active,
.ttoolbar-button-clear:active {
    color:#E47637;
}

.ttoolbar-button-clear {
}

#tlearnframe-loading {
    position:absolute;
    background-color:#FFFFFF;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

#tlearnframe-credits {
    position:absolute;
    width:100%;
    bottom:0;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#5e5e5e;
    font-size:10px;
}

#tlearnframe-credits a {
    color:#5e5e5e;
    text-decoration:none;
}

#tlearnframe-credits a:hover {
    color:#E47637;
}

#tlearnframe-solution {
    position:absolute;
    background-color:black;
    visibility:hidden;
    width:100%;
    top:0;
    bottom:0;
    z-index:3;
    color:#ffffff;
}

#tlearnframe-solution-content {
    padding:20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#f6a71f;
}


#tlearnframe-solution-content code {
    color:#f6a71f;
}

#tlearnframe-solution-content h1 {
    color:#f6a71f;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

#tlearnframe-text {
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
    background-color:#edebed;
    z-index:6;
    text-align:center;
}

#tlearnframe-text-input-frame {
    position:relative;
    width:80%;
    height:50%;
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
}

#tlearnframe-text-input {
    font-family:'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace;
    font-size:20px;
    width:100%;
    height:100%;
    box-sizing:border-box;
}

#tlearnframe-text-message {
    position:absolute;
    bottom:0;
    width:100%;
    min-height:50px;
    padding:10px;
    display:none;
    box-sizing:border-box;
    z-index:3;
}

#tlearnframe-text-message.tlearnframe-error {
    background-color:#ef6e13;
    color:#ffffff;
}

#tlearnframe-text-message.tlearnframe-message {
    background-color:#6dbea9;/*#58422a;*/
    color:#ffffff;
}

#tlearnframe-text-message-close {
    display:block;
    float:right;
    width:18px;
    height:18px;
    margin-right:5px;
    margin-top:2px;
    background-image:url(../images/clear_grey.png);
    cursor:pointer;
}

#tlearnframe-loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
    z-index:100;
}

#tlearnframe-loading img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

#tlearnframe-success {
    background-color:rgba(0,0,0,0.8);
    display:none;
    z-index:100;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#tlearnframe-success-center {
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    height:80%;
    min-height:200px;
    width:50%;
    min-width:200px;
    background-color:#5C3442;
}

#tlearnframe-success-image {
    margin:10px 20px;
    float:left;
    width:150px;
}

#tlearnframe-success-text {
    margin-left: 190px;
    margin-right: 50px;
    padding-top: 70px;
    color:#FFFFFF;
    font-family:"DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:18px;
    font-weight:600;
    text-transform:uppercase;
}

#tlearnframe-success-actions {
    clear:both;
    margin-left:190px;
    margin-top: 150px;
    text-align:right;
}

.ttoolbar-button-close {
    height:23px;
    width:23px;
    margin-top:10px;
    margin-right:20px;
    background-image:url('../images/close_success.png');
    float:right;
}

.ttoolbar-button-close:hover {
    background-image:url('../images/close_success_on.png');

}


.ttoolbar-button-next {
    height:120px;
    width:150px;
    background-image:url('../images/next_step.png');
    background-position:center bottom;
    background-repeat:no-repeat;
    display: inline-block;
    vertical-align:top;
    font-family:"DejaVu","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform:uppercase;
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
}

.ttoolbar-button-next:hover {
    background-image:url('../images/next_step_on.png');

}
