<div id="tframe">
    <div id="tframe-main" class="split-pane horizontal-percent">
        <div id="tframe-top" class="split-pane-component">
                <div id="TCanvas"></div>
                <div id="TEditor"></div>
                <div id="TMessage"></div>
        </div>
        <div id="tframe-separator" class="split-pane-divider"></div>
        <div id="tframe-bottom" class="split-pane-component">
            <div id="TToolbar"></div>
            <div id="TLog"></div>
            <div id="TConsole"></div>
        </div>
    </div>
    <div id="TSidebar"></div>
    <div id="tframe-loading">
        <img src="images/spinner.gif">
        <p></p>
    </div>
</div>