<div id="tlearnframe">
	<div id="tlearnframe-main">
		<div id="tlearnframe-left">
			<div id="tlearnframe-instruction">
                            <div id="tlearnframe-instructions"></div>
			</div>
                        <div id="tlearnframe-solution">
                            <div id="tlearnframe-solution-content"></div>
                        </div>
		</div>
		<div id="tlearnframe-right" class="split-pane fixed-bottom">
                        <div id="tlearnframe-text">
                            <div id="tlearnframe-text-input-frame">
                                <textarea id="tlearnframe-text-input"></textarea>
                                <div id="tlearnframe-text-message">
                                        <a href="#" id="tlearnframe-text-message-close"></a>
                                        <div id="tlearnframe-text-message-content"></div>
                                </div>
                            </div>
                            <div id="tlearnframe-text-buttons">
					<button class="ttoolbar-button ttoolbar-button-check">
						<img src="images/cogs_orange.png" class="ttoolbar-button-image">
					</button>
					<button class="ttoolbar-button ttoolbar-button-erase">
						<img src="images/reset.png" class="ttoolbar-button-image">
					</button>
                            </div>
                        </div>
			<div id="tlearnframe-canvas"  class="split-pane-component">
				<div id="TLearnCanvas"></div>
				<div id="tlearnframe-message">
					<a href="#" id="tlearnframe-message-close"></a>
					<div id="tlearnframe-message-content"></div>
				</div>
			</div>
                        <div id="tlearnframe-separator" class="split-pane-divider"></div>
			<div id="tlearnframe-bottom" class="split-pane-component">
				<div id="tlearnframe-buttons">
					<button class="ttoolbar-button ttoolbar-button-execute">
						<img src="images/play_orange.png" class="ttoolbar-button-image">
					</button>
					<button class="ttoolbar-button ttoolbar-button-clear">
						<img src="images/reset.png" class="ttoolbar-button-image">
					</button>
				</div>
				<div id="TLearnEditor"></div>
			</div>
		</div>
	</div>
	<div id="tlearnframe-loading">
		<img src="images/loader2.gif">
	</div>    
</div>