<div class="tviewer-main">
	<div class="tviewer-text">
		<div class="tviewer-text-name"></div>
		<div class="tviewer-button-close"></div>
		<div class="tviewer-text-editor">
			<textarea id="ttexteditor-text"></textarea>		
		</div>
		<div class="tviewer-text-buttons">
			<button class="tviewer-creation-cancel tviewer-creation-button">
				<img src="images/cancel.png" class="ttoolbar-creation-button-image">
			</button>
			<button class="tviewer-creation-save tviewer-creation-button">
				<img src="images/ok.png" class="ttoolbar-creation-button-image">
			</button>
		</div>
	</div>
</div>