<div id="ttoolbar">
	<div class="ttoolbar-modes">
		<button id="ttoolbar-help" class="ttoolbar-mode">
			<img src="images/help.png" class="ttoolbar-mode-image">
		</button>
		<button class="ttoolbar-mode ttoolbar-mode-editor">
			<img src="images/editor.png" class="ttoolbar-mode-image">
		</button>
	</div>
	<div class="ttoolbar-buttons">
		<button class="ttoolbar-button ttoolbar-button-execute">
			<img src="images/play_orange.png" class="ttoolbar-button-image">
		</button>
	</div>
	<div class="ttoolbar-options">
		<button class="ttoolbar-option ttoolbar-option-clear">
			<img src="images/clear.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-option ttoolbar-option-design-mode">
			<img src="images/design_mode.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-option ttoolbar-option-save">
			<img src="images/save.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-option ttoolbar-option-new-program">
			<img src="images/new.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-option ttoolbar-option-new-resource">
			<img src="images/new.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-option ttoolbar-option-delete">
			<img src="images/delete.png" class="ttoolbar-option-image">
		</button>
	</div>
</div>