<div id="ttoolbar">
	<div class="ttoolbar-left">
		<button id="ttoolbar-help" class="ttoolbar-button"></button>
	</div>
	<div class="ttoolbar-right">
		<button id="ttoolbar-console" class="ttoolbar-button"></button>
		<button id="ttoolbar-design-mode" class="ttoolbar-button"></button>
		<button id="ttoolbar-save" class="ttoolbar-button"></button>
		<button class="ttoolbar-button ttoolbar-option-new-program">
			<img src="images/new.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-button ttoolbar-option-new-resource">
			<img src="images/new.png" class="ttoolbar-option-image">
		</button>
		<button class="ttoolbar-button ttoolbar-option-delete">
			<img src="images/delete.png" class="ttoolbar-option-image">
		</button>
	</div>
	<div class="ttoolbar-center">
		<button id="ttoolbar-play" class="ttoolbar-button"></button>
	</div>
</div>