<div class="tviewer-main">
	<div class="tviewer-image">
		<img class="tviewer-image-img">
		<div class="tviewer-button-edit"></div>
		<div class="tviewer-button-duplicate"></div>
		<div class="tviewer-button-close"></div>
		<div class="tviewer-button-left"></div>
		<div class="tviewer-button-right"></div>
		<div class="tviewer-title"></div>
	</div>
	<div class="tviewer-editor">
		<div class="tviewer-editor-image"></div>
		<div class="tviewer-button-close"></div>
		<div class="tviewer-editor-message"></div>
	</div>
	<div class="tviewer-creation">
		<label class="tviewer-creation-label-name tviewer-creation-label"></label>
		<input type="text" class="tviewer-creation-name tviewer-creation-input" name="name">
		<label class="tviewer-creation-label-width tviewer-creation-label"></label>
		<input type="text" class="tviewer-creation-width tviewer-creation-input" name="width">
		<label class="tviewer-creation-label-height tviewer-creation-label"></label>
		<input type="text" class="tviewer-creation-height tviewer-creation-input" name="height">
		<div class="clear-fix"></div>
		<div class="tviewer-creation-message"></div>
		<button class="tviewer-creation-cancel tviewer-creation-button">
			<img src="images/cancel.png" class="ttoolbar-creation-button-image">
		</button>
		<button class="tviewer-creation-create tviewer-creation-button">
			<img src="images/ok.png" class="ttoolbar-creation-button-image">
		</button>
	</div>
</div>
