<template lang="pug">
.self
  | © Colombbus 2018 - &nbsp;
  a(target='_blank' href='mailto:declick@colombbus.org') contact
</template>

<style lang="sass" scoped>
a
  color: #fff
  text-decoration: none

.self
  clear: both
  height: 25px
  padding: 0 5px
  font-size: 12pt
  color: #fff
  background-color: #480A2A
  border-top: 1px solid #fff
  text-align: center

.right-aligned
  float: right

.glyphicon
  position: relative
  top: 2px
</style>
