<div id="tsidebar-resources" tabindex="0">
        <form id="tsidebar-upload" method="post" encrypt="multipar/form-data">
                <div id="tsidebar-upload-header">
                        <input id="tsidebar-upload-input" type="file" multiple="multiple">
                        <div id="tsidebar-upload-button">
                                <img src="images/upload.png">
                        </div>
                </div>
                <div id="tsidebar-files"></div>
        </form>
        <div id="tsidebar-resources-empty">
                <p></p>
        </div>
    <div class="tsidebar-buttons">
            <button class="tsidebar-button" id="tsidebar-new-resource"></button>
            <button class="tsidebar-button" id="tsidebar-delete-resource"></button>
    </div>
</div>