.introjs-hint-dot {
    border: 10px solid rgba(228,44,32,0.36);
}

.introjs-hint-pulse {
    border: 5px solid rgba(228,44,32,0.27);
    background-color: rgba(228,44,32,0.7);
    color:#FFFFFF;
    font-size:10px;
    text-align:center;
}

.introjs-hint-pulse:after {
    content:"?";
}